<head>
    <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style>
</head>

<body>

  <h1>You've a new booking request</h1>
  <p>From: John Smith</p>
  <p>Comment: I want to book this place</p>
  <p>Pick a date: 2nd of August</p><br />
  <h1><%= @listing.title %></h1>
  <p>
    <%= @listing.location %><br />
    <%= @listing.description %><br />
    <%= @listing.price %>/night<br />
    <img src='<%= @listing.img %>' alt='Nicolas Cage'> <br /><br />
  </p>
    <form action="/booking_request" method="POST"> 
    <p>
      <a href="/"><button>Approve</button></a>
    </p>
    </form>
</body>
