<head>
    <title>MakersBnB</title>

    <!--
        Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
        If you're wondering how the CSS file below is being loaded.
    -->
    <link rel="stylesheet" href="/style.css" >
</head>

<body>


    <h1>Welcome to MakersBnB</h1>
   
    <% @listings.each do |listing| %>
    <br>
    <%= listing.title %> <br>
    <%= listing.description %> <br>
    <%= listing.location %> <br>
    <%= listing.price %>/night <br>
    <img src='<%=listing.img%>' alt='Under Hollywood Sign' width="500"> <br>
    <a href='/listing/<%=listing.id%>'> <button type="button">See More</button></a><br>
    <% end %>
</body>

