<head>
    <style>
    h1 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
    </style>
</head>

<body>


    <h1><%= @listing.title %></h1><br />
    <p>
    <%= @listing.location %><br />
    <%= @listing.description %><br />
    <%= @listing.price %>/night<br />
    <img src='<%= @listing.img %>' alt='Nicolas Cage'>
    
        <h2>Booking Request</h2>
    <form action="/booking/<%=@listing.id%>" method="POST">
        <label for>Pick a date:</label> <br>
        <% @dates.each do |yymmdd|   %>
        <button value="<%=yymmdd.date%>"><%=yymmdd.date%></button>
        <% end %>
    <br><br>
        <input type="submit" name="Submit">
    </form>
</p>

    <a href="/"><button type="button">Go back Main Page</button></a>

</body>
