<html>
    <head>
    </head>

    <body>
     <img src='<%= @listing.img %>' alt='Nicolas Cage'>
        <h1><%= @listing.title %></h1><br />
        <p>
           Location <%= @listing.location %><br />
           Description <%= @listing.description %><br />
           Price <%= @listing.price %><br />
        
         <h2>Booking Request</h2>
        <form action="/booking" method="POST">
        <label>Name</label>
        <input type="text" name="name">
        <label>Comment</label>
        <input type="text" name="additional information">
        <label>Date</label>
        <input type="text" name="date">
         <input type="submit" name="Submit">
        </form>
        </p>

        <a href="/">back to homepage</a>

    </body>
</html>