<html>
    <head>
    </head>

    <body style="background-image: url('<%= @listing.img %>');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;">
    
        <h1><%= @listing.title %></h1>
        <p>
           Location <%= @listing.location %>
           Description <%= @listing.description %>
           Price <%= @listing.price %>
           Image <%= @listing.img %>
        </p>

        <form action="/booking" method="POST">
        <label>name</label>
        <input type="text" name="name">
        <label>comment</label>
        <input type="text" name="additional information">
        <label>date</label>
        <input type="text" name="date">
        </form>
        </p>

        <a href="/">back to homepage</a>

    </body>
</html>