<html>
    <head>
        <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        </style>
    </head>

    <body>
        <div class="navbar">
            <% if session[:user_id] == nil %>
            <a href="/login"><button>Login</button></a>
            <a href="/signup"><button>Signup</button></a><br>
            <% else %>
            <a href="/logout"><button>Logout</button></a>
            <%end%>
            <a href="/"><button>Homepage</button></a>
        </div>

     <h1><%= @listing.title %></h1><br />
     <p>
        <%= @listing.location %><br />
        <%= @listing.description %><br />
        <%= @listing.price %>/night<br />
       <img src='<%= @listing.img %>' alt='Nicolas Cage'>
     
         <h2>Booking Request</h2>
        <form action="/booking/<%=@listing.id%>" method="POST">
            <label for>Pick a date:</label> <br>
            <% @available_dates.each do |date| %>
                <button value="<%=date%>">1st of August</button>
            <% end %>
       <br><br>
            <input type="submit" name="Submit">

        </form>
    </p>

        <a href="/"><button type="button">Go back Main Page</button></a>

    </body>
</html>